body{
   background-color: #212121 !important;
}
.container {
    display: none;
  }

  /* h4,p{
   
  } */
   .card{
    background-color: #2F2F2F;
   }
   *{
    color: #ececec ;
   }
   hr {
    border: 1px solid white; /* Sets the border color of the hr to white */
    background-color: white; /* Optionally sets the background color */
  }